* {
	box-sizing: border-box;
}

body {
 	background-color: skyblue;
	margin: 0;
}

input {
	font-size: 0.8rem;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	padding: 5px 15px;
	text-align: center;
}

button {
	font-size: 0.8rem;
	border: 1px solid black;
	padding: 7px;
	margin-top: 5px;
	border-radius: 5px;
	cursor: pointer;
	outline: 0;
}

button:disabled {
	cursor: default;
}

a {
	color: dodgerblue;
	text-decoration: none;
}

.mt-10px {
	margin-top: 10px;
}

.mb-10px {
	margin-bottom: 10px;
}

.red-letters {
	color: red;
}

.main {
	background-color: white;
	padding: 25px;
	width: 80%;
	margin: 50px auto 50px auto
}

.table-container {
	overflow-x: auto;
}

.active {
	font-weight: bold;
}

@media screen and (max-width: 655px) {
	.main {
		width: 100%;
	}
}
